// variables 

$green: #069705;
$red: #fa0001;
$background: #FFFFFD;

@font-face {
  font-family: BBBook;
  src: url("fonts/bb-book-regular.otf");
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// main 

html, body {
  background: $background;
}

// splash page styling

#splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 99vh;
  overflow: hidden;
}

#splash-image {
  margin: auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    max-width: 400px;
    margin: auto;
  }
}

#post-splash {
  display: none;
}

// page styling

#post-splash-visible, #content {
  overflow: scroll;
  padding: 40px;
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 2000px;
}


#container {
  position: relative;
  width: inherit;
  
}

nav {
  position: relative; 
  width: inherit;
}

#navlist {
  background: $background;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
  div {
    font-family: BBBook, serif; 
  }
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 50px;
}

#navleft {
  align-self: center;
  #members-nav {
    font-size: 2em;
  }
  #members-nav:hover {
    color: $green;
  }
}


img > svg:hover path {
  fill: $green;
}



main {
  padding-top: 50px;
  margin-top: 100px;
  h1 {
    font-family: 'Archivo Black';
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  p, address {
    margin-bottom: 20px;
    font-size: 1.2em;
    line-height: 18pt;
    strong {
      font-family: 'Archivo Black';
    }
  }
}

.email {
  text-decoration: underline;
}

.email:hover {
  color: $green;
}

footer {
  margin-top: 20px;
  flex-shrink: 0;
  width: inherit;
  height: 300px;
  background-image: url('media/lab.jpg');
  background-position: 50% 20%;
}


// Member page styling 

#memberslist {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}


.member {
  position: relative;
}

.front {
  height: 300px;
  img {
    height: inherit;
  }
}

.back {
  display: none;
}

.information > a {
  text-decoration: underline;
}

.information > a:hover {
  color: $green;
}

.information > * {
  font-family: 'Archivo Black';
  line-height: 22pt;
  font-size: 0.9em;
}

.information {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: $red;
  background-color: yellow;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}


// media queries

@media only screen and (max-width: 500px) {
  #memberslist {
    flex-direction: column;  
  }
  .front {
    width: 80vw;
    height: auto;
  
    img {
      width: inherit;
      height: auto;
    }
  }

  #splash-image {
    margin: auto;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      max-width: 300px;
      margin: auto;
    }
  }

  .information > * {
    line-height: 30pt;
    font-size: 1.4em;
  }

}